<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Most Awful Bot on Universe</title>
    <!-- Bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pixelify+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
<body>
    <audio id="bgAudio" autoplay loop style="display: none;">
        <source src="../misc/audio/049. It's Showtime! (UNDERTALE Soundtrack) - Toby Fox.mp3" type="audio/mpeg">
    </audio>
    <script>
  window.addEventListener('load', () => {
    const audio = document.getElementById('bgAudio');
    
    // Tenta tocar direto
    audio.play().catch(() => {
      // Se não conseguir, espera o primeiro clique
      document.body.addEventListener('click', () => {
        audio.play();
      }, { once: true });
    });
  });
</script>

</body>
</html>